/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

/* Box Model Hack */
*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  background-image: url("/assets/images/calwaen-liew-u4u8yUXkcyE-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  background-color: #02020a;
}

/******************************************
/* LAYOUT
/*******************************************/
header {
}

main {
  min-width: 320px;
}
footer {
}

.app {
  margin: 20px;
}
#search {
  display: flex;
  height: 90px;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  flex-direction: column;
}

.error {
  color: yellow;
  font-size: 2rem;
  width: 80%;
  margin: 0% auto;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
.copyright {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: white;
  font-size: 3rem;
  text-align: center;
}

.explanation {
  font-size: 2rem;
  color: white;
}
fieldset {
  border: none;
}

legend {
  color: yellow;
}
.day {
  display: flex;
}

#datePicker {
  flex-grow: 1;
}

.infos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.media {
  display: flex;
  justify-content: center;
  min-width: 280px;
  flex-direction: column;
  align-items: center;
}

.media,
.explanation {
  max-width: 500px;
}

.media {
  padding: 10px;
}
.explanation {
  padding-top: 40px;
  padding-left: 10px;
}
.img {
  width: 100%;
  height: 100%;
}

.hdImgLink {
  height: 50px;
  font-size: 2rem;
  color: yellow;
}
